<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A brief description of your page content here.">
    <link rel="icon" href="images/favicon.png" type="image/png">
    <meta name="keywords" content="keyword1, keyword2, keyword3">
    <title>LIVA</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<!-- Header Section -->
<header>
    <nav class="navbar">
        <div class="logo" id="logo-text">MyLogo</div>
        <ul class="menu">
            <li><a href="index.html" id="nav-home">Home</a></li>
            <li><a href="about.html" id="nav-about">About</a></li>
            <li><a href="#features" id="nav-services">Services</a></li>
            <li><a href="golden ai pro.html" id="nav-liva-pro">LIVA Pro</a></li>

            <!-- Contact Dropdown -->
            <li class="contact-menu">
                <a href="#" id="contact">Contact</a>
                <ul class="dropdown-menu" id="contact-dropdown">
                    <li id="contact-email">Email: rajsamuel700600@gmail.com</li>
                    <li id="contact-phone">Phone: +91 9014682779</li>
                </ul>
            </li>

            <!-- Login Dropdown -->
            <li class="services-menu">
                <a href="#" id="login-toggle">Login</a>
                <ul class="dropdown-menu" id="login-dropdown">
                    <li><a href="user-login.html" id="login-user">User Login</a></li>
                    <li><a href="admin-login.html" id="login-admin">Admin Login</a></li>
                </ul>
            </li>

            <!-- Language Selector -->
            <li class="language-menu">
                <select id="language-selector" aria-label="Select Language">
                    <option value="en">English</option>
                    <option value="zh">中文</option>
                    <option value="es">Español</option>
                    <option value="fr">Français</option>
                </select>
            </li>
        </ul>
    </nav>
</header>

<!-- Hero Section -->
<section class="hero">
    <div class="hero-content">
        <h1 id="hero-heading">WELCOME TO LIVA</h1>
        <p id="hero-description">Your one-stop for loneliness</p>
        <a href="product.html" class="cta-button" id="cta-button">Let's Get Started</a>
    </div>
</section>

<!-- Products Section -->
<section class="products">
    <h2 id="features-heading">Our Features</h2>
    <div class="product-grid">
        <!-- Product 1 -->
        <div class="product-item">
            <img src="https://imgcdn.stablediffusionweb.com/2024/4/3/b4e9654b-5102-4b9c-be84-6bb272800c1e.jpg" alt="Avatar Interaction">
            <h3 id="product1-title">Avatar Interaction</h3>
            <p id="product1-desc">Engage with our friendly avatar for companionship.</p>
        </div>
        <!-- More products can be added here -->
         <!-- Product 2: Meal Reminder -->
        <div class="product-item">
            <img src="https://play-lh.googleusercontent.com/rjQZrP52Gf6PD-W3cUwMHqPnA1mhFt6gMqWl3NidTQS3X70PsM991rv_QNIDXQiX-mY" alt="Meal Reminder">
            <h3>Meal Reminder</h3>
            <p>Receive timely reminders for your meals to stay healthy.</p>
        </div>

         <!-- Product 3: Medicine Reminder -->
         <div class="product-item">
            <img src="https://media.istockphoto.com/id/1351305343/vector/take-a-course-of-medicines.jpg?s=612x612&w=0&k=20&c=-3Iym_XKdeB0bnF5by4CqfAR8arGP1zjlHxNz-vNBe8=" alt="Medical Reminder">
            <h3>Medicine Reminder</h3>
            <p>Stay on track with reminders for doctor appointments.</p>
        </div>

        <!-- Product 4: Medical Assistance -->
        <div class="product-item">
            <img src="https://media.istockphoto.com/id/1432338987/photo/nurse-or-doctor-give-man-support-during-recovery-or-loss-caregiver-holding-hand-of-her-sad.jpg?s=612x612&w=0&k=20&c=LBiOrZlSdmYK4kYNJ2aoqIa5aHH2JPlcz6kOkRFVFoo=" alt="Medical Assistance">
            <h3>Medical Assistance</h3>
            <p>Get reminders for your medications and medical checkups.</p>
        </div>
        <!-- Product 5: Exercise Tracker -->
        <div class="product-item">
            <img src="https://www.shutterstock.com/image-vector/smiling-grandparents-doing-morning-exercises-600nw-2314906171.jpg" alt="Exercise Suggestion">
            <h3>Exercise Suggestion</h3>
            <p>Keep track of your daily exercise routines and goals.</p>
        </div>
                <!-- Product 6: Health Tips -->
                <div class="product-item">
                    <img src="https://instafitness.in/wp-content/uploads/2020/01/health-tips-for-your-30s.jpg" alt="Health Tips">
                    <h3>Health Tips</h3>
                    <p>Receive daily tips on maintaining a healthy lifestyle.</p>
                </div>
                <!-- Product 7: Sleep Tracker -->
                <div class="product-item">
                    <img src="https://www.sleepcycle.com/wp-content/uploads/2021/11/track-sleep-1-1920x1270.jpg" alt="Sleep Tracker">
                    <h3>Sleep Tracker</h3>
                    <p>Monitor your sleep patterns and improve your sleep quality.</p>
                </div>
                <!-- Product 8: Mood Tracker -->
                <div class="product-item">
                    <img src="https://media.istockphoto.com/id/1435560155/photo/caregiver-talking-with-his-client-at-cafe-having-nice-time-together.jpg?s=612x612&w=0&k=20&c=_WPag90GT9uSmLRSJhM3ZoJvMyRABNRK312eS-3ekR0=" alt="Mood Tracker">
                    <h3>Mood Tracker</h3>
                    <p>Track your moods and mental well-being over time.</p>
                </div>
        
    </div>
</section>

<!-- Footer -->
<footer class="footer">
    <div class="footer-bottom">
        <p id="footer-text">&copy; 2024 LIVA. All rights reserved.</p>
    </div>
</footer>

<script>
    // Translation content
    const translations = {
        en: {
            "logo-text": "MyLogo",
            "nav-home": "Home",
            "nav-about": "About",
            "nav-services": "Services",
            "nav-liva-pro": "LIVA Pro",
            "hero-heading": "WELCOME TO LIVA",
            "hero-description": "Your one-stop for loneliness",
            "cta-button": "Let's Get Started",
            "features-heading": "Our Features",
            "product1-title": "Avatar Interaction",
            "product1-desc": "Engage with our friendly avatar for companionship.",
            "product2-title": "Meal Reminder",
            "product2-desc": "Receive timely reminders for your meals to stay healthy.",
            "product3-title": "Medicine Reminder",
            "product3-desc": "Stay on track with reminders for doctor appointments.",
            "product4-title": "Medical Assistance",
            "product4-desc": "Get reminders for your medications and medical checkups.",
            "product5-title": "Exercise Suggestion",
            "product5-desc": "Keep track of your daily exercise routines and goals.",
            "product6-title": "Health Tips",
            "product6-desc": "Receive daily tips on maintaining a healthy lifestyle.",
            "product7-title": "Sleep Tracker",
            "product7-desc": "Monitor your sleep patterns and improve your sleep quality.",
            "product8-title": "Mood Tracker",
            "product8-desc": "Track your moods and mental well-being over time.",
            "footer-text": "&copy; 2024 LIVA. All rights reserved."
        },
        zh: {
            "logo-text": "我的标志",
            "nav-home": "主页",
            "nav-about": "关于",
            "nav-services": "服务",
            "nav-liva-pro": "LIVA 专业版",
            "hero-heading": "欢迎来到 LIVA",
            "hero-description": "你不孤单的归宿",
            "cta-button": "开始使用",
            "features-heading": "我们的功能",
            "product1-title": "虚拟伙伴互动",
            "product1-desc": "与友好的虚拟伙伴互动，获得陪伴。",
            "product2-title": "用餐提醒",
            "product2-desc": "及时接收用餐提醒，保持健康。",
            "product3-title": "药物提醒",
            "product3-desc": "通过提醒保持医生预约。",
            "product4-title": "医疗协助",
            "product4-desc": "获得药物和体检的提醒。",
            "product5-title": "运动建议",
            "product5-desc": "跟踪您的每日运动习惯和目标。",
            "product6-title": "健康提示",
            "product6-desc": "接收有关保持健康生活的每日提示。",
            "product7-title": "睡眠追踪",
            "product7-desc": "监测您的睡眠模式并改善睡眠质量。",
            "product8-title": "情绪追踪",
            "product8-desc": "记录您的情绪和心理健康状况。",
            "footer-text": "&copy; 2024 LIVA。版权所有。"
        },
        es: {
            "logo-text": "MiLogo",
            "nav-home": "Inicio",
            "nav-about": "Acerca de",
            "nav-services": "Servicios",
            "nav-liva-pro": "LIVA Pro",
            "hero-heading": "BIENVENIDO A LIVA",
            "hero-description": "Tu solución contra la soledad",
            "cta-button": "Comencemos",
            "features-heading": "Nuestras Funciones",
            "product1-title": "Interacción con Avatar",
            "product1-desc": "Interactúa con nuestro amigable avatar para compañía.",
            "product2-title": "Recordatorio de Comida",
            "product2-desc": "Recibe recordatorios oportunos para tus comidas para mantenerte saludable.",
            "product3-title": "Recordatorio de Medicina",
            "product3-desc": "Mantente al día con recordatorios para tus citas médicas.",
            "product4-title": "Asistencia Médica",
            "product4-desc": "Obtén recordatorios para tus medicamentos y chequeos médicos.",
            "product5-title": "Sugerencia de Ejercicio",
            "product5-desc": "Sigue tus rutinas y metas de ejercicio diarias.",
            "product6-title": "Consejos de Salud",
            "product6-desc": "Recibe consejos diarios para mantener un estilo de vida saludable.",
            "product7-title": "Monitor de Sueño",
            "product7-desc": "Supervisa tus patrones de sueño y mejora tu calidad de sueño.",
            "product8-title": "Monitor de Ánimo",
            "product8-desc": "Sigue tu estado de ánimo y bienestar mental con el tiempo.",
            "footer-text": "&copy; 2024 LIVA. Todos los derechos reservados."
        },
        fr: {
            "logo-text": "MonLogo",
            "nav-home": "Accueil",
            "nav-about": "À propos",
            "nav-services": "Services",
            "nav-liva-pro": "LIVA Pro",
            "hero-heading": "BIENVENUE À LIVA",
            "hero-description": "Votre solution pour la solitude",
            "cta-button": "Commencez",
            "features-heading": "Nos Fonctionnalités",
            "product1-title": "Interaction avec Avatar",
            "product1-desc": "Interagissez avec notre avatar amical pour une compagnie.",
            "product2-title": "Rappel de Repas",
            "product2-desc": "Recevez des rappels opportuns pour vos repas afin de rester en bonne santé.",
            "product3-title": "Rappel Médical",
            "product3-desc": "Restez à jour avec des rappels pour vos rendez-vous médicaux.",
            "product4-title": "Assistance Médicale",
            "product4-desc": "Obtenez des rappels pour vos médicaments et bilans médicaux.",
            "product5-title": "Suggestion d'Exercice",
            "product5-desc": "Suivez vos routines et objectifs d'exercice quotidiens.",
            "product6-title": "Conseils Santé",
            "product6-desc": "Recevez des conseils quotidiens pour maintenir un mode de vie sain.",
            "product7-title": "Suivi du Sommeil",
            "product7-desc": "Surveillez vos habitudes de sommeil et améliorez votre qualité de sommeil.",
            "product8-title": "Suivi de l'Humeur",
            "product8-desc": "Suivez vos humeurs et votre bien-être mental au fil du temps.",
            "footer-text": "&copy; 2024 LIVA. Tous droits réservés."
        }
        
    };

    // Function to update content
    function updateContent(lang) {
        Object.keys(translations[lang]).forEach(id => {
            const element = document.getElementById(id);
            if (element) {
                element.innerHTML = translations[lang][id];
            }
        });
    }

    // Event listener for language selector
    const languageSelector = document.getElementById("language-selector");
    languageSelector.addEventListener("change", (event) => {
        const selectedLanguage = event.target.value;
        updateContent(selectedLanguage);
    });

    // Initialize default language
    updateContent("en");
    document.getElementById("language-selector").addEventListener("change", function () {
    const selectedLanguage = this.value;
    const currentTranslations = translations[selectedLanguage];

    for (const key in currentTranslations) {
        const element = document.getElementById(key);
        if (element) {
            element.innerHTML = currentTranslations[key];
        }
    }
});

</script>
</body>
</html>